<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-5 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-10 col-12 main_header_left align_items-center">
                        <figure class="errimg">
                            <img src="images/Oops! 404 Error with a broken robot-cuate.png" alt="rubi" class="img_fluid" height="500px">
                        </figure>
                    
                        <p>Welcome to Weather-App</p>
                        <h1>I am a <span class="text_clr">mern stack developer</span> and a <span class="text_clr">freelancer</span></h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                    <!-- right side div  -->
                </div>
            </div>
        </div>
    </div>

    <!-- footer starts  -->
    {{>footer}}
</body>

</html>